<% content_for :css do %>
  <%= stylesheet_link_tag 'session' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag 'session' %>
<% end %>

<% content_for :central_column do %>
  <div class="container mt-5">
    <div class="card cardback">
      <div class="card-body">
        <h5 class="card-title text-primary">Welcome to The Cloud Library.</h5>
        <p>Please log in:</p>
        <%= bootstrap_form_tag url: '/login' do |f| %>
          <%= f.text_field :username, placeholder: 'Your username', label_class: "text-primary mt-4" %>
          <%= f.password_field :password, placeholder: 'Your password', label_class: "text-primary mt-4" %>
          <%= f.submit "Login", :id => 'submitbutton', class: "btn btn-primary mt-4", disabled: "disabled" %>
          <%= link_to "Cancel", { :controller => "welcome", :action => "index" }, class: "btn btn-secondary mt-4", "role" => "button" %>
        <%end%>
      </div>
    </div>
    <% if @errors %>
      <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <strong>Login error</strong>
        <p>Wrong username or password</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "layouts/shared/threecolumns" %>
