<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col">
        &nbsp;
      </div>
      <div class="col-10">
        <div class="container mt-5">
          <div class="jumbotron border">
            <h2 class="display-5 jumbotitle text-primary">The CloudLibrary Project</h2>
            <p class="lead">A comprehensive, easy-to-use Library management system.</p>
            <hr class="my-4"/>
            <div>
              <small class="text-secondary">
                CloudLibrary v.<%= @app_version %> - Environment: <%= @environment %>
              </small>
            </div>
            <div class="mt-4">
              <% if logged_in? %>
                  <p>You are logged in as <b><%= current_user.username %></b>.
                  <%= link_to "Logout", { :controller => "session", :action => "logout" } %></p>
                  <%= link_to "Enter", { :controller => "home", :action => "index" }, class: "btn btn-primary btn-lg", "role" => "button" %>
              <% else %>
                <%= link_to "Login", { :controller => "session", :action => "new" }, class: "btn btn-primary btn-lg", "role" => "button" %>
                <%= link_to "Register", { :controller => "users", :action => "new" }, class: "btn btn-secondary btn-lg", "role" => "button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>
  </div>
<% end %>


